:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --bg: #18191B;
  --bg-accent: #18191B;
  --accent: #0D678D;
  --accent2: #095576;
  --text-color: #E0E9E4;
  --text-color-dark: #000000;
  --nav-size: 7.5rem;
  --speed: 500ms;
  --border: 1px solid #1280AF;
}

.navbar{
  width: var(--nav-size);
  min-height: 100%;
  height: 100vh;
  background-color: var(--accent);
  padding: 0 1rem;
  position: fixed;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 2rem;
  margin: 0;
  list-style: none;
  align-items: center;
}


.nav-item {
  width: calc(var(--nav-size)*0.8);
  display: flex;
  /* align-self: center; */
  align-items: center;
  justify-content: center;
}

.nav-item:first-child{
  margin-bottom: 3rem;
}

.nav-item:last-child {
  margin-top: auto;
  margin-bottom: 4rem;
}

.icon-button {
  --button-size: calc(var(--nav-size)*0.65);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  background: #C1FFBF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: background var(--speed);
}

.icon-button svg {
  color: var(--accent);
  width: 2rem;
  height: 2rem;
}

.icon-button:hover {
  background: rgb(163, 214, 161);
}

.dropdown {
  position: absolute;
  bottom: 120px;
  width: 15rem;
  transform: translateX(45%);
  background-color: var(--accent);
  border: var(--border);
  border-radius: 1rem;
  overflow:hidden;

}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
}

.menu-item:hover {
  background-color: #1280AF;
}

.top-bar {
  width: 100%;
  height: 3rem;
  background-color: var(--accent2);
  display: flex;
  align-items: center;
  align-content: center;
}

.title {
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  /* display: flex;
  align-items: center; */
}

.container {
  height: 100%;
  width: 100%;
}

.main-container {
  margin-left: calc(var(--nav-size) + 8rem);
  padding-top: 5rem;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-home {
  margin: 0;
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.progress-container {
  display: flex;
  align-items: center;
}

.progress-icon {
  transform: translateX(-45%);
}

.progress-icon svg {
  color: #F2C94C;
  width: 4rem;
  height: 4rem;
}

.progress-gauge {
  background: #C8FFFC;
  width: 48rem;
  height: 1.5rem;
  border-radius: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.progress-bar {
  width: 11.5rem;
  height: 1rem;
  border:none;
  padding: 0;
  margin: 0;
  outline:none;
  cursor: pointer;
  transition: background var(--speed);
}

.complete {
  background: #0D678D;
}

.incomplete {
  background: #68C1E7;
}

.project-progress {
  display:flex;
  align-items: center;
}

/* .project-edit-wrappers{
  display:flex;
  align-items: center;
} */

.progress-edit-icons {
  padding: 0 0.7rem 0 0.7rem;
}

.progress-edit-icons svg{
  color: var(--text-color);
  transition: color calc(var(--speed)/2);
  width: 1.5rem;
  height: 1.5rem;
}

.progress-edit-icons svg:hover {
  color: var(--accent);
}

.project-profile {
  display:flex;
  align-items: center;
  /* width: 7rem; */
  /* transform: translate(-4rem, 3.5rem); */

}

.project-wrapper {
  padding-left: 4rem;
}

.project-picture {
  transform: translate(-4rem, 3.5rem);

}

.project-icon {
  --button-size: 7rem;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  background: #C1FFBF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  transform: translate(-4rem, 3.5rem);

}

.updatebtn {
  margin-left: 4rem;
  width: 5rem;
  background: #2B7A9C;
  border-radius: 0.25rem;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline:none;
}

.updatebtn:active {
  background-color: var(--accent2);
}


.deletebtn {
  margin-left: 0.5rem;
  width: 5rem;
  background: #E7E7E7;
  border-radius: 0.25rem;
  border: none;
  color: #646464;
  cursor: pointer;
  outline:none;
}


.deletebtn:active {
  background-color: var(--accent2);
}

.progess-save-change-btn {
  /* margin-left: 0.5rem; */
  margin-right: 1rem;
  width: 5rem;
  height: 2rem;
  /* font-size: 0.75rem; */
  border-radius: 0.25rem;
  font-weight: bold;
  border: none;
  outline:none;
  transition: color var(--speed);
}

.progess-save-change-btn:active {
  background-color: var(--accent2);
}

.progess-save-change-btn-unclicked {
  background-color:#2B7A9C;
  color: var(--text-color);
  cursor: pointer;
}

.progess-save-change-btn-clicked {
  background-color: rgb(187, 240, 194);
  color: var(--text-color-dark);
  cursor: default;
}


/* The modal "backdrop" */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  display:flex;
  align-items: center;
  z-index: 99;
}

/* The modal "window" */
.modal{
    background: #C4C4C4;
    border-radius: 1rem;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    animation-name: modal-fade-in;
    animation-duration: var(--speed);
    /* animation-timing-function: ease-out; */
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.modal-header{
  margin-left: 4rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.modal-title {
  color: var(--text-color-dark);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.modal-subtitle {
  color: var(--text-color-dark);
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-left: 1rem;  
}

.modal-project-picture {
  transform: translate(0.5rem, -0.5rem);
}

.modal-project-icon {
  --button-size: 7rem;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  background: #C1FFBF;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-main-grid {
  display: grid;
  width: auto;
  height: 70%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 40% 25% 25%;
  /* column-gap: 5%; */
  margin: 2rem 4rem  0 4rem;
  justify-content: space-between;
  align-content: space-between;
  /* padding-right: 4rem; */
  grid-template-areas:
    "previous previous new new"
    "description description description description"
    "pic1 pic2 pic3 pic4";
}

.previous-status {
  grid-area: previous;
  background-color: #E7E7E7;
  border-radius: 0.5rem;
  color: #646464;
  padding: 1rem;
}

.previous-title {
  font-size: 1rem;
}

.previous-update {
  padding-top: 1rem;
  min-width: 100%;
  min-height: 75%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  background-color: #E7E7E7;
  color: #646464;
  resize: none;
  overflow: auto;
  font-size: 1rem;
}

.new-status {
  grid-area: new;
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  color: #646464;
  padding: 1rem;
}

.new-status-title {
  font-size: 1rem;
  color: var(--text-color-dark);
}

.new-status-update {
  padding-top: 1rem;
  min-width: 100%;
  min-height: 75%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  background-color: #F9F9F9;
  color: var(--text-color-dark);
  resize: none;
  overflow: auto;
  font-size: 1rem;
  transition: background-color calc(var(--speed)/2);
}

.new-status-update:hover {
  background-color: #E7E7E7;
}

.modal-description {
  grid-area: description;
}

.modal-description-title {
  color: var(--text-color-dark);
  font-size: 1rem;
  font-weight: normal;
}

.modal-description-content {
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  color: var(--text-color-dark);
  width: 100%;
  height: 70%;
  resize: none;
  font-size: 1rem;
  border: none;
}

.previous-status-seeallbtn {
  background-color: #929394;
  font-size: 1rem;
  width: 15rem;
  height: 1.5rem;
  border:none;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  outline:none;
}

.new-status-savebtn {
  background-color: #2B7A9C;
  font-size: 1rem;
  width: 5rem;
  height: 1.5rem;
  border:none;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  outline:none;
}

.new-status-savebtn:active {
  background-color: var(--accent2);
}

.modal-nav {
  display:flex;
  width:100%;
  height: 3rem;
  margin: 0;
  background-color: var(--accent2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.modal-close-button {
  /* display:flex; */
  margin-right: 0.5rem;
  background-color: transparent;
  border:none;
  cursor: pointer;
  outline:none;
}

.modal-close-button svg{
  /* display:flex; */
  color: rgba(0, 0, 0, 0.54);
  width: 2rem;
  height: 2rem;
}

